<%- include('partials/header'); -%>
    <div class="container-fluid contacts">
        <h1>Welcome to the Contacts App</h1>
    
    </div>
    <div class="container addForm">
        <form action="/addContact" method="post">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" name="name" id="form4Example1" class="form-control" />
              <label class="form-label" for="form4Example1">Name</label>
            </div>
        
            <!-- Number input -->
            <div class="form-outline mb-4">
                <input type="number" name="number" id="form4Example3" class="form-control" />
                <label class="form-label" for="form4Example3">Number</label>
              </div>
            
            
            <!-- Email input -->
            <div class="form-outline mb-4 ">
              <input type="email" name="email" id="form4Example2" class="form-control" />
              <label class="form-label" for="form4Example2">Email Address</label>
            </div>  
          
            <!-- Submit button -->
            <input type="submit" value="Add" class="btn btn-primary  mb-4 mt-2 col-lg-3"></input>
          </form>
    </div>

    
<%- include('partials/footer'); -%>